body {
    padding: 0;
    margin: 0;
   
    
    animation: infinite ease-in-out 6s;
    animation-name: lagun;
}


#bolo {
    width: 50px;
    height: 50px;
    background: -webkit-radial-gradient(rgb(0, 255, 8), rgb(0, 251, 255));
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    animation: infinite 6s;
    animation-name: lagunus;
}

@keyframes lagunus {
    from {
        width: 600px;
        height: 600px;
        background: -webkit-radial-gradient(rgb(128, 122, 118), rgb(169, 229, 48));
    }
    to {
        width: 300px;
        height: 300px;
    }
}

