        body {
            margin: 0;
            font-family: 'Courier New', Courier, monospace;
            background-color: #fff;
            overflow-y: none;
            scroll-behavior: smooth;
        }
        
        #nombre::after {
            content: "";
        }
        
        html {
            overflow-x: none;
            overflow-y: none;
            scroll-behavior: smooth;
        }
        
        .list-1 img {
            width: 40px;
            height: 40px;
        }
        
        .orario {
            color: #04aa6d;
            font-size: 1rem;
            display: none;
            padding: 6px;
            background-color: #f6f6f6;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
            max-width: 300px;
            margin-left: 40px;
            height: fit-content;
            margin-top: 10px;
            border-radius: 0.4rem;
        }
        
        .precio::first-letter {
            color: #0366d6;
            font-size: 1.6rem;
            letter-spacing: 0.2rem;
        }
        
        .precio {
            margin-left: 17%;
            font-size: 1.2rem;
            color: #154;
            font-weight: 800;
        }
        
        .boton {
            width: 160px;
            background-color: #154;
            color: #fff;
            padding: 14px 17px;
            border: none;
            transition: all 2s ease-in-out;
        }
        
        .boton:hover {
            background-color: #fff;
            color: #154;
            border: 2px solid green;
            transition: all 2s ease-in-out;
        }
        
        .btn {
            margin-left: 30px;
        }
        
        h1 {
            color: green;
            text-align: center;
            z-index: -1;
        }
        
        #zxcv {
            color: #154256;
        }
        
        .titulo1 {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
            text-align: center;
            width: 100%;
        }
        
        .titulo h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: auto;
        }
        
        .imagen2 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        
        .imagen2 .saludo span {
            display: none;
            padding: 16px;
        }
        
        .imagen2:hover span {
            display: block;
        }
        
        .imagen2 img {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 160px;
        }
        
        .imagen2 img:hover {
            width: 80%;
            height: 260px;
            box-shadow: 0px 8px 16px 0px rgba(47, 142, 16, 0.4);
        }
        
        .saludo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        
        .saludo span {
            font-size: 1.4rem;
            color: #0366d6;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
        }
        
        .pie {
            width: 100%;
            height: 160px;
            text-align: center;
            background-color: #154;
            margin-top: 160px;
        }
        
        .pie h2 {
            padding: 10px;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 300;
            font-family: 'Courier New', Courier, monospace;
        }
        /*style galery*/
        
        .galeria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 260px;
            padding: 20px;
            grid-gap: 10px;
        }
        
        .galeria__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #icon {
            filter: none;
            animation: laguna 3s alternate-reverse infinite ease-in-out;
        }
        
        @keyframes laguna {
            to {
                margin-left: 100px;
                transition: 3s;
            }
            from {
                margin-right: 100px;
                transition: 3;
            }
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.2cm;
        }
        
        .galeria__item:nth-child(1) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(3) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(6) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(10) {
            grid-row-start: span 2;
        }
        
        @media (max-width:800px)and (min-width:375px) {
            .galeria__item:nth-child(4) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(7) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(9) {
                grid-column-start: span 2;
            }
            .galeria {
                grid-auto-rows: 200px;
            }
            .galeria__item:nth-child(1) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(3) {
                grid-row-start: span 1;
            }
            .galeria__item:nth-child(6) {
                grid-row-start: span 1;
            }
            .galeria__item:nth-child(10) {
                grid-row-start: span 2;
            }
            .presente .precio {
                display: none;
            }
        }