 .foto {
     width: 100%;
     top: 0;
     position: relative;
     z-index: 1;
     background-image: linear-gradient(rgb(131, 205, 250), rgba(242, 249, 249, 0.956));
 }
 
 .foto img {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     top: 0;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     height: 360px;
 }