body{
padding: 0;
margin: 0;
  
}
h1{
    font-size: 24px;    
    text-align: center;
    padding: 16px 16px;
    border-bottom: 1px solid #eee;
}
.home{
margin-left: 100px;
font-size: 24px;
color:rgb(26, 29, 26);
background-color: yellowgreen;
width: 160px;
padding: 12px 12px; 
border-radius: 0.4rem;
}
.contenedor{
width: 60%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 60px;
}
 
p{
margin: 0px 0px 16px;
text-align: justify; 
font-size: 20px;
}
a{
color: green;
}
@media (min-width:200px) and (max-width:760px){
.contenedor{
width: 94%;
height: auto;
 
}
}