 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #0366d6;
     background-image: linear-gradient( to right, #0366b6, green);
 }
 
 li {
     float: left;
     border-right: 1px solid #154;
 }
 
 li a {
     display: inline-block;
     padding: 14px 17px;
     text-decoration: none;
     color: #fff;
     text-align: center;
     font-size: 1.4rem;
 }
 
 li .active {
     background-color: #154;
 }
 
 li a:hover {
     background-color: #fff;
     color: #0366d6;
 }
 
 @media screen and (max-width:500px) {
     header #header .active,
     .tube {
         display: none;
     }
 }