.mensajes{
  width: 100%;
  height: auto;
  display: flex;
  float: left;
}
.button {
            display: inline-block;
            padding: 20px 30px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            margin: 20px;
            border-radius: 5px;
          font-size: 18px;}
#botom{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  
}                  