.mass {
  width: 100%;
  margin-top:90px;
  height: auto;
  background-color: #15853e;
  color: #fff;
  
}
.mass .orario {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 30px; 
}
.mass .orario p {
  color: #fff;
  padding: 6px 6px;
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
}
#orario{
color: #fff;
}
.lanham{
background: linear-gradient(black,white);
padding: 10px; 
border-radius: 0.4rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .mass {
    display: none;
  }
  .lanham{
  display: none;
  }
}
