.content{
background-color: #333;
border-top:1rem;
border-top: #fff;
}
.content h3{
  text-align:center;white-space:pre-wrap;
  color: #fff;
  font-size: 18px;
 
}
.content p{
  text-align:center;white-space:pre-wrap;
  color: #fff;
}
