        body {
            margin: 0;
            font-family: 'Courier New', Courier, monospace;
            background-color: #fff;
        }
        
        .foto {
            width: 100%;
            height: 500px;
            top: 0;
            z-index: -1;
        }
        
        .foto img {
            width: 80%;
            height: 400px;
            margin-left: 10%;
            top: 0;
            filter: brightness(80%);
            z-index: 100;
            border-left: 0.4cm;
        }
        
        .foto img:hover {
            filter: brightness(100%);
        }
        
        html {
            overflow-x: none;
            overflow-y: none;
            scroll-behavior: smooth;
        }
        
        .list-1 img {
            width: 40px;
            height: 40px;
        }
        
        header {
            overflow: hidden;
            padding: 17px;
            position: sticky;
            top: 0;
            z-index: 20;
            background-color: #154256;
            border-bottom: 3px solid #04aa6d;
        }
        
        #header {
            z-index: 100;
        }
        
        header a.active {
            background-color: #04aa6d;
        }
        
        header a {
            text-decoration: none;
            font-size: 1.4rem;
            color: #fff;
            margin-left: 10px;
            padding: 17px;
        }
        
        header a:hover {
            transition: 2s;
            background-color: #04aa6d;
            color: #fff;
        }
        
        .orario {
            color: #04aa6d;
            font-size: 1.2rem;
        }
        
        .precio {
            margin-left: 17%;
            font-size: 1.2rem;
            color: #154;
            font-weight: 800;
        }
        
        .boton {
            width: 160px;
            background-color: #154;
            color: #fff;
            padding: 14px 17px;
            border: none;
            transition: all 2s ease-in-out;
        }
        
        .boton:hover {
            background-color: #fff;
            color: #154;
            border: 2px solid green;
            transition: all 2s ease-in-out;
        }
        
        h1 {
            color: green;
            text-align: center;
            z-index: -1;
        }
        
        #zxcv {
            color: #154256;
        }
        
        .pie {
            width: 100%;
            height: 160px;
            text-align: center;
            background-color: #154;
            margin-top: 160px;
        }
        
        .pie h2 {
            padding: 10px;
            color: #fff;
            font-size: 1rem;
            font-weight: 800;
            font-family: 'Courier New', Courier, monospace;
        }
        /*style galery*/
        
        .galeria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 260px;
            padding: 20px;
            grid-gap: 10px;
        }
        
        .galeria__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #icon {
            filter: none;
            animation: laguna 3s alternate-reverse infinite ease-in-out;
        }
        
        @keyframes laguna {
            to {
                margin-left: 100px;
                transition: 3s;
            }
            from {
                margin-right: 100px;
                transition: 3;
            }
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.2cm;
            filter: brightness(60%);
        }
        
        img:hover {
            filter: brightness(100%);
        }
        
        .galeria__item:nth-child(1) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(3) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(6) {
            grid-row-start: span 2;
        }
        
        .galeria__item:nth-child(10) {
            grid-row-start: span 2;
        }
        
        @media (max-width:800px)and (min-width:375px) {
            .galeria__item:nth-child(4) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(7) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(9) {
                grid-column-start: span 2;
            }
            .galeria {
                grid-auto-rows: 200px;
            }
            .galeria__item:nth-child(1) {
                grid-column-start: span 2;
            }
            .galeria__item:nth-child(3) {
                grid-row-start: span 1;
            }
            .galeria__item:nth-child(6) {
                grid-row-start: span 1;
            }
            .galeria__item:nth-child(10) {
                grid-row-start: span 2;
            }
            .presente .precio {
                display: none;
            }
        }