.poi{
  width: 100%;
  height: auto;
  background-color: #454545;
  text-align: center;
}
.poi h1{
  font-size: 4rem;
  color:#fff;
}
.poi p{
  font-size:20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
@keyframes  fade-in {
   entry 0%{
    opacity: 0; transform: translateY(100%);
   }
    
  
}
.mas {
  animation: fade-in linear;
  animation-timeline: view(block);
  animation-range: entry;
}
 

@media (min-width:300px) and (max-width:500px){
  .poi h1{
    font-size: 18px;
  }
  .section-title{
    font-size: 20px;
  }
}
 
.iop{
  text-align: center;
  margin-top: 60px;
}
.iop a{
  font-size:20px;
  padding: 16px 16px;
  color: #003349;
  font-weight: bold;
  border-radius: 0.4rem;
   
}
.iop a:hover{
  background-color: #e93232;
  color: #fff;
  transition: 0.3s;
}
.iop #get{
  background-color: #003349;
  color: #fff;
  border-radius: 0.4rem;
}
.iop #get:hover{
  background-color: #04aa6d;
  transition: 0.3s;
}
.iop a img{
  width: 30px;
  height: 30px;
}
/*style estra*/
 

.pie{
  width: 100%;
  height: 80px;
  background-color: rgb(206, 252, 206);
  overflow: hidden;
  text-align: justify;
}
.pie p{
  color: #fff;
  font-size: 1.4rem;
  margin-left: 20px;
  
}
.pie span{
  color: green;
   
}
.hero p{
  text-align: center;
  color: #fff;
  border-radius: 0.4rem;
  padding: 10px 10px;
  font-size: 1.6rem;
  background-color: #299684;
}
@media (min-width:360px) and (max-width:600px){
  .zxc{
  width: 100%;
  height: 150px;
  background-color: #036;
  display:block;
}
.cajon{
  display:flex;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
}
/*time.css para estra*/
div.time {
    width: 400px;
    height: 80px;
    margin-top: 20px;
    background-color: antiquewhite;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 0.2cm;
    border-bottom-right-radius: 0.2cm;
}

div.time span {
    font-size: 2.2rem;
    color: #0366b6;
}
html{
    overflow-x: hidden;
}
.mira{
    margin-top: 40px;
    width: 96%;
    height: auto;
     margin-left: auto;
    margin-right: auto;
    border-right: 4px solid #31da96;
    border-top: 4px solid rgb(56, 179, 12);
    border-radius: 0.2rem;
}
.mira #mira{
    font-size: 1.2rem;
    color: green;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.mirar{
    padding: 4px 4px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 4px solid #f6f6f6;
    border-right: 4px solid #f6f6f6;
    border-left: 4px solid  #036;
    border-top: 4px solid #036;
    border-radius: 0.2rem;
}
.mirar p{
    text-align: justify;
    font-size: 1.2rem;
    color: #036;
    padding: 10px 10px;
}
.mirar img{
    width: 50px;
    height: 50px;
}
/* esto es ventas */

.main {
     width: 100%;
     height: auto;
    
 }

 /*boton */
#llamar{
  padding: 20px 16px;
  margin: 10px;
  background-color: #000000;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
}
#llamar span{
  color: #fff;
  font-weight: bolder;
  font-size: 1.4rem; 
}
#llamar:hover{
  background-color: #04aa6d;
  transition: all 1s;
}
/*pie fotos*/
.pie{
  background-color: #556660;
  text-align: center;
  width: 100%;
  height: 160px;
}
.pie h2{
  padding: 30px 30px;
}