ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #154;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 14px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: #0366D6;
}