body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    background-color: #0366d6;
    color: #fff;
}

.icon {
    display: flex;
    margin-left: 180px;
    margin-top: 100px;
    width: 4%;
}

.icon img {
    border-radius: 50%;
    filter: brightness(60%);
    transition: ease-in-out 1.4s;
}

.icon img:hover {
    filter: brightness(100%);
    transition: ease-in-out 1.4s;
}

.nombre {
    text-align: center;
}

.nombre span {
    color: #0366d6;
}

.nombre a {
    text-decoration: none;
    color: #04aa6b;
    font-size: 1.4rem;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #000;
    padding: 12px 12px;
}

table {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 120px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pie {
    text-align: center;
    height: 100px;
    background-color: #04aa6b;
}

.pie h4 {
    color: #fff;
    padding: 14px;
}

.pie span {
    display: block;
    overflow: hidden;
    display: none;
}

.tel {
    font-size: 1.4rem;
    color: #154;
}

span {
    color: #000;
    font-size: 1.4rem;
}

.tel a {
    color: #154;
}

.orario {
    width: 20%;
    margin-left: 7%;
    margin-top: 120px;
    font-size: 17px;
}

.orario em {
    font-size: 1.4rem;
    color: #154;
    font-weight: bold;
}

.orario pre {
    content: "";
    visibility: hidden;
    background-color: green;
    opacity: 0;
    transition: opacity 3s;
}

.orario:hover pre {
    visibility: visible;
    background-image: linear-gradient(green, #0366b6);
    border-radius: 0.4rem;
    color: #f2f2f2;
    opacity: 1;
}

#print {
    background-color: #04aa6b;
    padding: 14px 17px;
    margin-left: 186px;
    margin-top: 100px;
    border: none;
    border-radius: 0.3cm;
    color: #fff;
    line-height: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#print img:hover {
    color: #9cde89;
    transition: 0.2s;
    cursor: pointer;
}


/* WHA */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(66, 210, 198, 0.4);
    padding: 12px 12px;
    font-size: 1.2em;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* navbar */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bdd9f0;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(49, 155, 106, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #3e8e41;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* wha */


/* conteiner */

@media (max-width:500px) {
    .prices a {
        display: none;
    }
}

@media print {
    #print {
        display: none;
    }
    .icon {
        display: none;
    }
    .orario {
        margin-top: 10px;
        margin-left: 3%;
        display: none;
    }
    .orario img {
        display: none;
    }
    #principal {
        background-color: none;
        color: #000;
    }
    .pie {
        text-align: left;
    }
    .pie span {
        display: block;
    }
    img {
        display: none;
    }
    ul,
    li,
    a {
        display: none;
    }
    .prices a {
        display: none;
    }
    .nombre a {
        color: #000;
        display: block;
        text-decoration: none;
        border-bottom: none;
    }
}