.prices{
max-width: 1260px;
margin: 24px auto;
 
} 
.prices h1{
text-align: center;
padding: 6px;
font-size: 46px;
}
.prices h2{
padding: 6px;
font-size: 22px;
}
.prices p{
padding: 6px;
font-size: 18px;
}
#places{
padding: 34px;

}
#places p{
color: #061120;
}