body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    background-color: #0366d6;
    color: #fff;
}

.icon {
    display: flex;
    margin-left: 180px;
    margin-top: 20px;
    width: 4%;
}

.icon img {
    border-radius: 50%;
    filter: brightness(60%);
    transition: ease-in-out 1.4s;
}

.icon img:hover {
    filter: brightness(100%);
    transition: ease-in-out 1.4s;
}

.nombre {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #000;
    padding: 12px 12px;
}

table {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 120px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pie {
    text-align: center;
    height: 100px;
    background-color: #04aa6b;
}

.pie h4 {
    color: #fff;
    padding: 14px;
}

.tel {
    font-size: 1.4rem;
    color: #154;
}

span {
    color: #000;
    font-size: 1.4rem;
}

.tel a {
    color: #154;
}

.orario {
    color: #04aa6b;
    width: 70%;
    margin-left: 7.3%;
    margin-top: 120px;
    font-size: 17px;
}

#print {
    background-color: #04aa6b;
    padding: 14px 17px;
    margin-left: 186px;
    margin-top: 100px;
    border: none;
    border-radius: 0.3cm;
    color: #fff;
    line-height: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#print img:hover {
    color: #9cde89;
    transition: 0.2s;
    cursor: pointer;
}

@media print {
    #print {
        display: none;
    }
    .icon {
        display: none;
    }
    .orario {
        margin-top: 10px;
        margin-left: 3%;
    }
    .orario img {
        display: none;
    }
    #principal {
        background-color: none;
        color: #000;
    }
    .pie {
        text-align: left;
    }
    img {
        display: none;
    }
}