.tips{
background:linear-gradient(green 1.47%,white  87.47%);
width: 86%;
height: auto;
margin-left: auto;
margin-right: auto;
border-top-left-radius: 0.8rem;
border-top-right-radius: 0.8rem;
}
.tipss{
color: #333;
text-align: center;
text-transform:uppercase;
font-size: 24px;
padding: 20px;
border-bottom:solid rgb(34, 51, 84);
border-width:3px;
}
.tips h2{
padding: 16px;
font-size: 22px;
text-align: justify;
color: rgb(3, 16, 27);
text-transform: capitalize;
 
}
.tips p{
text-align: justify;
padding:16px;
font-size: 22px;
text-transform: capitalize;
color:#000;
}
.tips .use{
padding: 20px;
color:rgb(34, 51, 84);
}
 