.trabajo{
  background-color: rgb(38, 136, 234);
  clear: both;
  width: 100%;
  height: auto;
  text-align: center;
}
 
.trabajo p{
  font-size: 1.0rem;
  
  color: #1f2c32;
  text-align: justify;
  padding: 16px 16px;
}
 
 