 
.xcv{
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #0366;
}
.xcv h2{
  padding: 10px 10px;
  color: #750a30;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.zxc{
  width: 100%;
  height: 100px;
  background-color: #036;
  display: flex;
}
.zxc h2{
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.zxc p{
  padding: 10px 10px;
  color: aliceblue;
  font-size: 1.2rem;
}
.cajon{
  clear: both;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.mnb{
  width: 100%;
  height: 40px;
  background-color: #f2eaec;
overflow: hidden;
border-right: 6px solid green;
  border-bottom: 4px solid green;
}
.mnb p{
  margin-left: 10px;
  padding: 8px 8px;
  color:#299684;
  text-transform: capitalize;
  box-shadow:0px 0px 2px 16px #226c8e;
   
  font-weight: bold;
 
}
.pie{
  width: 100%;
  height: 80px;
  background-color: rgb(31, 32, 31);
  overflow: hidden;
  text-align: justify;
}
.pie p{
  color: #fff;
  font-size: 1.4rem;
  margin-left: 20px;
  
}
.pie span{
  color: green;
   
}
.hero p{
  text-align: center;
  color: #fff;
  border-radius: 0.4rem;
  padding: 10px 10px;
  font-size: 1.6rem;
  background-color: #299684;
}
@media (min-width:360px) and (max-width:600px){
  .zxc{
  width: 100%;
  height: 150px;
  background-color: #036;
  display:block;
}
.cajon{
  display:flex;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
}