.navbar{
background-color: #0366D6;
height: 60px;
overflow: hidden;
position: sticky;
top: 0;
z-index: 100;
}
.navbar ul li{
list-style-type: none;
}
.navbar ul li a{
padding: 16px 16px;
color: #fff;
font-size: 22px;
text-decoration: none;
} 
.navbar ul li a:hover{
color: green;
border-left: 2px solid white;
border-right: 2px solid orangered;
} 

.prices {
    float: right;
}

.prices a {
    background-color: #0366D6;
}

.lanw {
    background: -webkit-linear-gradient(green, #0fcdf3);
    background: -moz-linear-gradient(green, #0fcdf3);
    background: -ms-linear-gradient(green, #0fcdf3);
    background: -o-linear-gradient(green, #0fcdf3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
     
}