.btn {
     
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #154;
}

li {
    float: left;
}
a{
    padding: 16px 16px;
}
li a {
    display: block;
    color: aliceblue;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 17px 17px;
    text-decoration: none;
    line-height: 50%;
}

li a:hover {
    background-color: #0366D6;
}

.prices {
    float: right;
}

.prices a {
    background-color: #0366D6;
}

.lanw {
    background: -webkit-linear-gradient(green, #0fcdf3);
    background: -moz-linear-gradient(green, #0fcdf3);
    background: -ms-linear-gradient(green, #0fcdf3);
    background: -o-linear-gradient(green, #0fcdf3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
     
}