 @media(min-width:300px) and (max-width:500px) {
     #header {
         background-color: seagreen;
     }
     h2 {
         font-size: 18px;
     }
     .foto {
         width: 100%;
     }
     .llamadas {
         width: 300px;
         height: 180px;
         margin-left: -200px;
     }
     #llamadas {
         width: 300px;
         height: 180px;
     }
 }
 
 @media(min-width:600px) and (max-width:800px) {
     #header {
         background-color: sienna;
     }
     .contatanos {
         margin-left: 40px;
     }
     #contatanoss {
         margin-left: 200px;
         width: 100%;
     }
     a {
         font-size: 18px;
     }
     #contatanoss h1,
     span {
         font-size: 18px;
         text-align: center;
     }
     .caja h2,
     span {
         text-align: center;
         margin-left: 200px;
     }
     #info,
     span {
         margin-left: -200px;
     }
     h2 {
         font-size: 18px;
     }
     .foto {
         width: 100%;
     }
     #llamadas {
         margin-left: -600px;
         width: 300px;
         height: auto;
     }
 }
 
 @media(min-width:800px) and (max-width:1040px) {
     .contatanos {
         margin-left: 40px;
     }
     #contatanoss {
         margin-left: 200px;
         width: 100%;
     }
     a {
         font-size: 18px;
     }
     #contatanoss h1,
     span {
         font-size: 18px;
         text-align: center;
     }
     .caja h2,
     span {
         text-align: center;
         margin-left: 200px;
     }
     #info,
     span {
         margin-left: -200px;
     }
     h2 {
         font-size: 18px;
     }
     .foto {
         width: 100%;
     }
     #llamadas {
         margin-left: 10px;
     }
 }
 
 @media(min-width:1040px) and (max-width:1440px) {
     .contatanos {
         margin-left: 40px;
     }
     #contatanoss {
         margin-left: 200px;
         width: 100%;
     }
     a {
         font-size: 18px;
     }
     #contatanoss h1,
     span {
         font-size: 18px;
         text-align: center;
     }
     .caja h2,
     span {
         text-align: center;
         margin-left: 200px;
     }
     h2 {
         font-size: 18px;
     }
     .foto {
         width: 100%;
     }
     #llamadas {
         margin-left: 10px;
     }
 }
 
 @media(min-width:1440px) and (max-width:1550px) {
     .llamadas {
         width: 300px;
     }
 }