#description {
    resize: none;
}

#boton {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    transition: all 1s ease-in-out;
}

#navbar {
    border-bottom: 2px solid #154;
}

#fecha {
    width: 80%;
    margin-left: 10%;
    background-color: #04aa6b;
    color: aliceblue;
}