  html {
      scroll-behavior: smooth;
  }
  
  #foto_foto:hover {
      background-image: url(./cafe2.jpg);
  }
  
  .preguntas {
      margin-top: 140px;
      background-image: url(./casa-28.jpg);
      background-position: 35%;
      background-size: cover;
      width: 600px;
      height: 300px;
      text-align: center;
      float: left;
      margin-left: 260px;
      border-radius: 0.2cm;
      transition: all 2s ease-in-out;
  }
  
  .preguntas:hover {
      background-image: url(./istalacion.jpg);
      transition: all 2s;
  }
  
  .preguntas:hover #negro {
      font-size: 1.4rem;
      color: teal;
  }
  
  .preguntas:hover #blanco {
      font-size: 2rem;
      color: #000;
  }
  
  #negro {
      margin-top: 20px;
      color: #000;
      font-family: sans-serif;
      transition: all 2s ease-in-out;
  }
  
  #blanco {
      color: transparent;
      transition: all 2s ease-in-out;
  }
  
  .contact h2 {
      margin-top: 10px;
      content: '';
      font-size: 2rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .fecn {
      margin-top: 10px;
      color: #6cc091;
      text-align: center;
  }
  
  .obb {
      color: black;
      text-transform: capitalize;
  }
  
  .orario a {
      color: #154;
      text-decoration: none;
      border-bottom: 1px solid #000;
  }
  /* main contenct */
  
  div.main {
      width: 90%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }
  
  div.main .preguntas {
      width: 400px;
      height: 360px;
      float: left;
  }
  /* parte de contact 2 */