  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      color: #222;
    }
    .nav {
    background: #1b5e20;  
    padding: 15px 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color:#061125;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.nav a:hover {
    background: white;
    color: #1b5e20;
}
    
    header {
      background: linear-gradient(135deg, #1b5e20, #2e7d32);
      color: white;
      padding: 20px 20px;
      text-align: center;
    }


    header h1 {
      margin: 0;
      font-size: 2.4rem;
    }

    header p {
      margin-top: 10px;
      opacity: 0.9;
    }

    .btn {
      display: inline-block;
      padding: 10px 18px;
      background: white;
      color: #1b5e20;
      border-radius: 30px;
      font-weight: bold;
      margin-top: 20px;
      text-decoration: none;
    }

    .container {
      max-width: 1400px;
      margin: 40px auto;
      padding: 0 20px;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 20px;
    }

    .product {
      background: white;
      padding: 20px;
      border-radius: 14px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: left;
    }

    .product img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 12px;
      object-fit: cover;
      max-height: 360px;
      overflow: hidden;
      transition: transform 0.3s ease;
       
    }
    .product img:hover{
    transform: scale(1.15);
    }
    .product h3 {
      margin-top: 0;
      color: #1b5e20;
    }

    .product ul {
      padding-left: 18px;
    }

    .price {
      font-weight: bold;
      color: #1b5e20;
      margin-top: 10px;
      font-size: 22px;
    }

    .btn-buy {
      display: inline-block;
      margin-top: 12px;
      padding: 8px 14px;
      background: #1b5e20;
      color: white;
      border-radius:6px;
      text-decoration: none;
      font-size:18px;
    }

    footer {
      text-align: center;
      padding: 30px;
      background: #1b5e20;
      color: white;
      margin-top: 140px;

    }