@media screen and (min-width:360px) and (max-width:500px) {
    .title {
        height: 100px;
        width: 100%;
    }
    .title h1 {
        display: none;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0;
    }
    .navbar .direcion {
        display: none;
    }
    .foto pre {
        font-size: 1.4rem;
        margin-top: 20px;
        margin-left: -30px;
        display: none;
    }
    .informe h2 {
        width: 100%;
    }
    #informacion {
        height: 5200px;
    }
    #informacion .formato {
        display: none;
    }
    #informacion .text {
        display: block;
    }
    #informacion .text .text1,
    span,
    p {
        width: 100%;
    }
    img {
        width: 80%;
        margin-right: 10%;
    }
}