.orario {
    width: 100%;
    height: 160px;
    background-color: #000;
    clear: both;
}

footer .pie {
    width: 100%;
    height: 260px;
    clear: both;
    background-color: #04aa6b;
}

.pie p {
    /* text-align: center; */
    padding: 10px;
    color: #fff;
    font-size: 1.4rem;
    direction: initial;
}

.pie .social {
    width: 100%;
    margin-left: 43%;
}

.pie .social .social-icon {
    display: flex;
    align-items: center;
}