 .informe {
     width: 80%;
     height: 3000px;
     margin-left: 2%;
     background: #fff;
 }
 
 .informe h2 {
     font-size: 1.4rem;
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 10px;
     color: #04aa6b;
 }
 
 .text {
     margin-top: 30px;
     display: flex;
     width: fit-content;
 }
 
 .text .text1 {
     width: 30%;
     text-align: justify;
     padding: 20px;
 }
 
 .text .text1 span {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     color: #000;
 }
 
 .text .text1 p {
     font-size: 1.4rem;
     color: #154;
     text-transform: lowercase;
     width: fit-content;
 }
 
 .portada {
     margin-top: 40px;
 }
 
 .portada img {
     width: 360px;
     border-radius: 0.4rem;
     filter: brightness(50%);
 }
 
 .portada img:hover {
     filter: brightness(100%);
 }
 
 .gracias {
     width: 100%;
     height: 100px;
     background-color: #fff;
     text-align: start;
 }
 
 .gracias span {
     color: #000;
     margin: 16px;
     font-size: 1.4rem;
 }