    /* informe */
    
    #informacion {
        width: 100%;
        display: flex;
    }
    
    #informacion .formato {
        position: -webkit-sticky;
        position: sticky;
        top: -100;
    }
    
    .formato {
        width: 20%;
        background: #fff;
        z-index: 10;
    }
    
    .formato h3 {
        color: #154;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .formato img {
        display: block;
        margin-top: 0.8rem;
        width: 260px;
        height: auto;
        margin-left: 20px;
        position: sticky;
        top: 100px;
    }