.logo1 {
    width: 120px;
    height: 120px;
    margin-left: 1000px;
    clear: both;
    float: right;
    margin-bottom: 30px;
}

.logo1 span {
    margin-left: 260px;
}

.logo1 img {
    width: 120px;
    height: 120px;
    border-radius: 0.6rem;
    margin-left: 260px;
    margin-bottom: 30px;
}