 body {
     background-color: rgb(108, 145, 182);
 }
 
 .ttss {
     margin-top: 100px;
     width: 100%;
     height: 400px;
     text-align: center;
     margin-top: 200px;
 }
 
 h1 {
     color: white;
     font-size: 3rem;
 }
 
 p {
     color: green;
     font-size: 2rem;
 }
 
 #cas {
     text-align: center;
 }
 
 .cass {
     margin-top: 100px;
     color: white;
     font-size: 2rem;
     text-decoration: none;
 }