 header {
     background-color: #34495e;
     width: 100%;
     height: 80px;
     display: flex;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     position: fixed;
     left: 0;
     top: 0;
 }
 
 .solida {
     width: 90%;
     height: 600px;
     margin-left: 5%;
     margin-top: 10px;
 }
 
 .solida img {
     width: 90%;
     height: 600px;
     margin-left: 5%;
     margin-top: 10px;
     object-fit: cover;
     border-radius: 0.2cm;
 }
 
 #ft {
     margin-left: 40px;
     margin-top: 10px;
     border-radius: 0.2cm;
 }
 
 #nav a {
     color: white;
     text-transform: uppercase;
     font-weight: bolder;
     text-decoration: none;
     font-size: 20px;
     float: left;
     margin-left: 40px;
     padding-top: 20px;
 }
 
 #nbr {
     margin-top: 140px;
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     color: rgb(130, 187, 159);
     font-size: 1rem;
 }
 /*style videos*/
 
 .videos {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-auto-rows: 460px;
     padding: 20px;
     grid-gap: 10px;
     margin-top: 160px;
 }
 
 .videos_item {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 iframe {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 0.2cm;
 }
 
 span {
     color: steelblue;
 }
 
 .pidp {
     text-align: center;
     margin-top: 10px;
 }
 
 #home {
     width: 100%;
     height: 1px;
 }
 
 @media (min-width:300px) and (max-width:500px) {
     nav {
         display: none;
     }
     .pidp {
         clear: both;
         margin-top: 120px;
     }
     .videos .videos_item:nth-child(1) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(2) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(3) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(4) {
         grid-column-start: span 4;
     }
     .videos {
         margin-top: 40px;
     }
     .videos {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-auto-rows: 460px;
         padding: 20px;
         grid-gap: 10px;
     }
 }
 
 @media (min-width:300px) and (max-width:1100px) {
     body {
         z-index: hidden;
     }
     #videos {
         margin-left: 0;
     }
     h1,
     h3,
     span,
     a {
         font-size: 16px;
     }
     .videos .videos_item:nth-child(1) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(2) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(3) {
         grid-column-start: span 4;
     }
     .videos .videos_item:nth-child(4) {
         grid-column-start: span 4;
     }
     .videos {
         margin-top: 50px;
     }
 }
 
 @media (min-width:1100px) and (max-width:1566px) {
     .videos .videos_item:nth-child(1) {
         grid-column-start: span 2;
     }
     .videos .videos_item:nth-child(2) {
         grid-row-start: span 2;
         grid-column-start: span 2;
     }
     .videos .videos_item:nth-child(3) {
         grid-column-start: span 2;
     }
     .videos .videos_item:nth-child(4) {
         grid-column-start: span 3;
     }
 }