body,
ul {
    margin: 0;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
}

a:hover {
    color: teal;
}

H1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    cursor: none;
}

@media(max-width:800px) {
    #logo {
        display: none;
    }
}

#header {
    box-sizing: border-box;
    height: 160px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.contact {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    background-color: white;
    float: left;
    margin-left: 60px;
    text-align: center;
    border-radius: 0.3cm;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 0 #0000002c;
    transition: .3s ease box-shadow;
}

.contact:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

.caja {
    width: 60%;
    height: 200px;
    background-color: white;
    margin-left: 20%;
}

.llamadas {
    width: 400px;
    height: 200px;
    float: left;
    margin-left: 60px;
    background-color: white;
    padding: 2px;
    color: black;
    text-align: center;
    border-radius: 0.3cm;
    margin-top: 100px;
    box-shadow: 0px 0px 30px 0px #0000002c;
    transition: .3s ease;
    cursor: pointer;
}

#flower {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower:hover {
    background-image: url(/web3/img/pink1.jpg);
}

#flower1 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower1:hover {
    background-image: url(/web3/img/pink18.jpg);
}

#flower2 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower2:hover {
    background-image: url(/web3/img/pink19.jpg);
}

#flower3 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower3:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#mowing4 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#mowing4:hover {
    background-image: url(/web3/img/mowing1.jpg);
}

#mowing5 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#mowing5:hover {
    background-image: url(/web3/img/mowing2.jpg);
}

#mowing6 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#mowing6:hover {
    background-image: url(/web3/img/mowing3.jpg);
}

#mowing7 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#mowing7:hover {
    background-image: url(/web3/img/mowing4.jpg);
}

#flower8 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower8:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower9 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower9:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower10 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower10:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower11 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower11:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower12 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower12:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower13 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower13:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower14 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower14:hover {
    background-image: url(/web3/img/pink20.jpg);
}

#flower15 {
    transition: all .3s ease;
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
    background-position: 35%;
}

#flower15:hover {
    background-image: url(/web3/img/pink20.jpg);
}

.llamadas:hover {
    background-image: url(/img/casa-28.jpg);
    background-size: cover;
}

.contatanoss {
    align-items: center;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 100px;
    margin-top: 1600px;
    clear: both;
    background-color: transparent;
}

#contatanoss .llamadas {
    background-image: none;
}

#informe span {
    color: skyblue;
}

#informe span,
h2 {
    padding: 1rem;
}

.llamadas:hover {
    box-shadow: 0px 0px 6px 0px #0000002c;
}

.contatenos {
    background-color: #130e0ea8;
    text-align: center;
    margin-top: 400px;
    width: 100%;
    height: 240px;
    margin-bottom: 0;
    clear: both;
}

h2 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

span {
    color: green;
}

h2,
span {
    margin-top: 20px;
}

.foto {
    width: 100%;
    height: 400px;
    background-image: url("/img/casa-28.jpg");
    background-attachment: fixed;
    background-size: 50%;
    padding-top: 10%;
    background-size: cover;
}

.contatenos a,
img {
    background-color: transparent;
}

@media(max-width:600px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: none;
    }
    #nav.active #menu {
        display: flex;
    }
}