@media(min-width:300px) and (max-width:1000px) {
    .contatanos {
        margin-left: 10px;
    }
    #contatanoss {
        margin-left: 8px;
        width: 100%;
    }
    #map {
        margin-left: 2%;
        margin-top: 1000px;
        width: 96%;
        height: 300px;
        margin-bottom: 700PX;
    }
    #contatanoss h1,
    span {
        font-size: 18px;
    }
    h3 {
        font-size: 18px;
    }
    .foto {
        width: 100%;
    }
    .llamadas {
        margin-left: 0;
        width: 100%;
        height: 300px;
    }
    .telefono {
        margin-left: 100px;
    }
    .caja {
        margin-top: 100px;
        background-color: rgb(245, 245, 245);
        width: 90%;
        height: 200px;
        margin-left: 5%;
    }
    .foto {
        margin-top: 180px;
        width: 90%;
        margin-left: 5%;
        height: 400px;
        background-image: url("/img/casa-28.jpg");
        background-attachment: fixed;
        background-size: 50%;
        padding-top: 10%;
        background-size: cover;
    }
    body {
        overflow-x: hidden;
    }
    .galeria img {
        width: 337px;
        margin-top: 20px;
    }
}

@media(min-width:1000px) and (max-width:1800px) {
    a {
        color: teal;
        text-decoration: none;
        font-size: 2rem;
        font-family: sans-serif;
        transition: all 2s;
    }
    .contatanos {
        margin-left: 10px;
    }
    #contatanoss {
        margin-left: 8px;
        width: 100%;
    }
    #contatanoss h1,
    span {
        font-size: 18px;
    }
    h2 {
        font-size: 18px;
    }
    .foto {
        width: 100%;
    }
    .llamadas {
        margin-left: 10px;
        width: 30%;
        height: 300px;
    }
    .telefono {
        margin-left: 100px;
        margin-left: 30px;
    }
    .foto {
        margin-top: 140px;
        width: 60%;
        margin-left: 20%;
        height: 400px;
        background-image: url("/img/casa-28.jpg");
        background-attachment: fixed;
        background-size: 50%;
        padding-top: 10%;
        background-size: cover;
    }
    .zxcvb {
        margin-left: 26%;
    }
    .galeria img {
        width: 337px;
        margin-top: 20px;
    }
}

@media(min-width:700px) and (max-width:1000px) {
    .galeria img {
        width: 300px;
        margin-left: 3px;
        margin-top: 20px;
    }
}

@media(min-width:1024px) and (max-width:860px) {
    .galeria img {
        width: 200px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .galeria {
        width: 80%;
        margin-left: 10%;
    }
}